

header {
    margin-bottom: 20px;
}

body {
    background-image: url("/assets/images/Sunflower.jpeg");
}


/* weather display */
.weather {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color:white;
}

.weather h1 {
   
    padding-right: 20px;
    text-align: right;
}

.weather h2 {
    font-size: 14px;
  
}




 .today {
    background-color: lime;

 }

.today .ul {
    height: 200px;
    background-color: magenta;
}

.today .image{
    height: 100px;
    background-color:mediumblue;
}


/* search bar */
.search-form {
    border:  blue;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    
}

.search-card h1 {
    padding-left: 20px;
    color: white;
}

.search-card {
    height: inherit;
    background-color:rgba(0,0,0,.50);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.search-card input {
    width: 50%;
    margin-left: 20px;
}

.search-card .btn {
    width: 40%;
    margin: 20px;
}

/* saved searches */
.grid {
    height: 100px;
    background-color: saddlebrown;
}

.day-display {
    width:90%;
    margin:0 auto;
}

.day {
    background-color:rgba(0,0,0,.75);
    margin: 20px;
    color:white;
}

.day .p {
    height: 100px;
    
}

.day .icon {
    height: 100px;
}
